In [1]:
# Pandas Series

In [2]:
import pandas as pd

In [4]:
list1 = [1,2,-3.6,"data"]

In [5]:
print(list1)

[1, 2, -3.6, 'data']

In [7]:
Series1 = pd.Series(list1)
print(Series1)

0       1
1       2
2    -3.6
3    data
dtype: object

In [8]:
type(Series1)

pandas.core.series.Series

In [9]:
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: object)

In [14]:
Series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
print(Series3)

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
Series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'],dtype = float)
print(Series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [16]:
Series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'],dtype = float,name = 'data values')
print(Series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [17]:
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [18]:
scalar_s = pd.Series(0.5,index = [1,2,3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [19]:
dict_s = pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [20]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
s4[0]

1

In [22]:
s4[3]

4

In [23]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [24]:
max(s4)

5

In [25]:
s4[s4>3]

3    4
4    5
dtype: int64

In [26]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [29]:
s6 = pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [30]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [31]:
#Pandas Dataframe

In [32]:
emf_df = pd.DataFrame()
print(emf_df)

Empty DataFrame
Columns: []
Index: []

In [33]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [34]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [35]:
df1

   0
0  a
1  b
2  c

In [36]:
ls_of_1s = [1,2,3],[2,3,4],[4,5,6]
print(ls_of_1s)

([1, 2, 3], [2, 3, 4], [4, 5, 6])

In [37]:
df2 = pd.DataFrame(ls_of_1s)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [38]:
dict1 = {'ID' :[11,22,33,44],'SN' :[1,2,3,4]}
dict1

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [39]:
df3 = pd.DataFrame(dict1)
print(df3)

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [40]:
ls_dict = [{'a':1 , 'b':2},{'a':3,'b':4}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [41]:
ls_dict = [{'a':1 , 'b':2},{'a':3,'b':4,'c':5}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [45]:
dict_sr = {'ID':pd.Series([1,2,3]),'SN':pd.Series([111,222,333])}
df6 = pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  111
1   2  222
2   3  333

In [46]:
# Read csv File

In [48]:
pd.read_csv('Truecsv')

FileNotFoundError: [Errno 2] No such file or directory: 'True_csv'